* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
section {
  border: 1px solid red;
}
article {
  border: 1px solid blue;
}
.two-cols-75-25 {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 30px;
}

.two-cols-75-25 .left .hero-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.portfolio-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.two-cols-equal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
