*{
    margin:0;
    padding:0;
}

body {
    background: rgb(3, 46, 46);
    width: 100%;
    height:100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.navigation{
    background-color:goldenrod;
}

.navigation > .container{
    max-width: 90%;
    margin: auto;
}

.navigation .navbar{
    position: relative;
}

.navigation .navbar .logo{
    position: absolute;
    left: 50%;
    top:4px;
}

.navigation .navbar .logo a{
    display: block;
}

.navigation .icons{
    text-align: right;
}

@media screen and (min-width:1024){
    .navigation .icons
    {display: block !important;
    height:auto !important;}
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .icons{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.links li, .icons li{
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.links li a:hover{
    background-color: #ffffff87;
    width: auto;
}

.links a:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
}

.hero {
    width:100vw;
  }

  .hero div {
    padding:0px;
  }

  .tea-collection {
    padding-top: 30px;
    padding-inline: 110px;
    padding-bottom: 80px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }