*{
    margin:0;
    padding:0;
}

body {
    background: teal;
    width: 100%;
    height:100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.navigation{
    background-color:goldenrod;
}

.navigation > .container{
    max-width: 90%;
    margin: auto;
}

.navigation .navbar{
    position: relative;
}

.navigation .navbar .logo{
    position: absolute;
    left: 50%;
    top:4px;
}

.navigation .navbar .logo a{
    display: block;
}

.navigation .icons{
    text-align: right;
}

@media screen and (min-width:1024){
    .navigation .icons
    {display: block !important;
    height:auto !important;}
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .icons{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.links li, .icons li{
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.links li a:hover{
    background-color: #ffffff87;
    width: auto;
}

.links a:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
}

.carousel {
    overflow: hidden;
    max-width: 1200px;
    position: relative;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
  }
  
  .carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }