/* FONT
font-family: 'Alegreya Sans', sans-serif;
font-family: 'IM Fell Great Primer SC', serif;
font-family: 'Lancelot', serif; 
*/

* {
    box-sizing: border-box;
  }
  body {
    margin:0;
  }
  img {
    width:100%;
  }
  .basil-page {
    margin:0;
    background-image: url('../kitchen-herbs/img/basilfill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .thyme-page {
    margin:0;
    background-image: url('../kitchen-herbs/img/thymefill.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rosemary-page {
    margin:0;
    background-image: url('../kitchen-herbs/img/rosemaryfill.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mint-page {
    margin:0;
    background-image: url('../kitchen-herbs/img/mintfill.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  h1{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 62px;
  }

  h2{
    font-family: 'Lancelot', serif; 
    font-size: 32px;
  }

  .home-menu {
    display:flex;
    height:100vh;
  }
  .home-menu div {
    position:relative;
    flex:1;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-image: url('http://placekitten.com/360/1024');
  }
  .home-menu .col-1 {
    background-image: url('../kitchen-herbs/img/basilresize.png');
  }
  .home-menu .col-2 {
    background-image: url('../kitchen-herbs/img/thymeresize.png');
  }
  .home-menu .col-3 {
    background-image: url('..//kitchen-herbs/img/rosemaryresize.png');
  }
  .home-menu .col-4 {
    background-image: url('../kitchen-herbs/img/mintresize.png');
  }

  .green-home-box {
    position:absolute;
    top:100px;
    left:0;
    right:0;
    background-color: #203D13;
    padding: 20px 0;
    width:95%;
    margin:auto;
    text-align:center;
    line-height: 0px;
    color: white;
  }
  .border-green {
    position:absolute;
    top:30px;
    left:0;
    right:0;
    width:95%;
    height: 90vh;
    margin:auto;
    border: 8px solid #203D13;
  }
  
  .basilhomebutton {
    position: absolute;
    display: flex;
    margin-left: 82%;
    padding: 50px;
  }
  .thymehomebutton {
    position: absolute;
    display: flex;
    margin-left: 86%;
    padding: 50px;
  }
  .rosemaryhomebutton {
    position: absolute;
    display: flex;
    margin-left: 4%;
    padding: 30px;
  }
  .minthomebutton {
    position: absolute;
    z-index: 1;
    position: absolute;
    display: flex;
    margin-right: 80%;
    padding: 40px;
  }

  .button {
    display:block;
    text-align:center;
    text-decoration:none;
    border: 2.5px solid #203D13;
    color: #203D13;
    background-color: rgba(255,255,255,.8);
    padding: 20px 0;
    width:13%;
    margin:auto;
    font-family:'Alegreya Sans', sans-serif;
    font-size: 26px;
  }
  .button:hover {
    background-color: rgb(134,154,125,.8);
    border: 2.5px solid #203D13;
    color: white;
  }
  .button-selected {
    display:flex;
    justify-content: space-around;
    bottom:90px;
    left:0;
    right:0;
    width:100%;
    margin:auto;
    display:block;
    text-align:center;
    text-decoration:none;
    background-color: rgb(134,154,125,.8);
    border: 2.5px solid #203D13;
    color: white;
    padding: 20px 0;
    width:13%;
    margin:auto;
    font-family:'Alegreya Sans', sans-serif;
    font-size: 26px;
  }
  .button-set {
    display:flex;
    justify-content:space-around;
    position:absolute;
    bottom:90px;
    left:0;
    right:0;
    width:100%;
    margin:auto;
  }
  .home-page .button-set {
    bottom:110px;
    left:0;
    right:0;
  }
  .basil-page .button-set {
    bottom:60px;
    left:0;
    right:0;
  }
  .thyme-page .button-set {
    bottom:60px;
    left:0;
    right:0;
  }
  .rosemary-page .button-set {
    bottom:60px;
    left:0;
    right:0;
  }
  .mint-page .button-set {
    bottom:60px;
    left:0;
    right:0;
  }

.basilimgbox {
  position:absolute;
  z-index:1;
  top:16%;
  left:720px;
  right: 0px;
  background-color: rgb(134, 154, 125, .85);
  padding:330px 0px 0px 20px;
  width:500px;
  height:none;
  margin:0;
  text-align:left;
  line-height: 5px;
  color: white;
}
  .basilcareguidebox {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-color: #593345;
    padding:50px;
    width:36%;
    height:100%;
    margin:0;
    text-align:center;
    line-height: 0px;
    color: white;
  }
  .basilcareguidetext {
    position:absolute;
    top:14%;
    left:0;
    right:0;
    background-color: none;
    padding:55px;
    padding-left: 60px;
    width:33.3%;
    height:100%;
    margin:0;
    text-align:left;
    font-size: 24px;
    font-family: 'Lancelot', serif; 
    color: white;
  }
  .basilcareguidetext .h3 {
    font-family: 'IM Fell Great Primer SC', serif;
  }

.thymeimgbox {
  position:absolute;
  z-index:1;
  top:8%;
  left:150px;
  right: 0px;
  background-color: rgb(134, 154, 125, .85);
  padding:380px 0px 0px 20px;
  width:400px;
  height:none;
  margin:0;
  text-align:left;
  line-height: 5px;
  color: white;
}
  .thymecareguidebox {
    position:absolute;
    top:0;
    left:50%;
    right:0;
    background-color: #593345;
    padding:50px;
    width:36%;
    height:100%;
    margin:0;
    text-align:center;
    line-height: 0px;
    color: white;
  }  
  .thymecareguidetext {
    position:absolute;
    top:14%;
    left:51%;
    right:0;
    background-color: none;
    padding:61px;
    padding-left: 60px;
    width:33.3%;
    height:100%;
    margin:0;
    text-align:left;
    font-size: 24px;
    font-family: 'Lancelot', serif; 
    color: white;
  }
  .thymecareguidetext .h3 {
    font-family: 'IM Fell Great Primer SC', serif;
    }

.rosemaryimgbox {
  position:absolute;
  z-index:1;
  top:15%;
  left:892px;
  right: 0px;
  background-color: rgb(134, 154, 125, .85);
  padding:0px 0px 0px 20px;
  width:400px;
  height:450px;
  margin:0;
  text-align:left;
  line-height: 5px;
  color: white;
}
  .rosemarycareguidebox {
    position:absolute;
    top:15%;
    left:6%;
    right:0;
    background-color: #593345;
    padding:10px;
    width:56%;
    height:450px;
    margin:0;
    text-align:center;
    line-height: 0px;
    color: white;
    }  
  .rosemarycareguidetext {
    position:absolute;
    top:22%;
    left:7%;
    right:0;
    background-color:none;
    padding:61px;
    width:54%;
    margin:0;
    text-align:left;
    font-size: 24px;
    font-family: 'Lancelot', serif; 
    color: white;
    }
  .rosemarycareguidetext .h3 {
    font-family: 'IM Fell Great Primer SC', serif;
    }


.mintimgbox {
  position:absolute;
  z-index:1;
  top:10%;
  left:920px;
  right: 0px;
  background-color: rgb(134, 154, 125, .85);
  padding:0px 20px 0px 20px;
  width:400px;
  height:500px;
  margin:0;
  text-align:right;
  line-height: 5px;
  color: white;
}
  .mintcareguidebox {
    position:absolute;
    top:10%;
    left:7%;
    right:0;
    background-color: #593345;
    padding:30px;
    width:52%;
    height:500px;
    margin:0;
    text-align:center;
    line-height: 0px;
    color: white;
    }  
  .mintcareguidetext {
    position:absolute;
    top:20%;
    left:10%;
    right:0;
    background-color:none;
    padding:61px;
    width:50%;
    margin:0;
    text-align:left;
    font-size: 24px;
    font-family: 'Lancelot', serif; 
    color: white;
    }
  .mintcareguidetext .h3 {
    font-family: 'IM Fell Great Primer SC', serif;
    }