* {
    box-sizing: border-box;
  }
  body {
    margin:0;
  }
  img {
    width:100%;
  }
  
  .home-menu {
    display:flex;
    height:100vh;
  }
  .home-menu div {
    position:relative;
    flex:1;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-image: url('http://placekitten.com/360/1024');
  }
  .home-menu .col-1 {
    background-image: url('http://placekitten.com/361/1024');
  }
  .home-menu .col-2 {
    background-image: url('http://placekitten.com/362/1024');
  }
  .home-menu .col-3 {
    background-image: url('http://placekitten.com/363/1024');
  }
  .home-menu .col-4 {
    background-image: url('http://placekitten.com/364/1024');
  }
  .green-home-box {
    position:absolute;
    top:90px;
    left:0;
    right:0;
    background-color: #203D13;
    padding: 60px 0;
    width:80%;
    margin:auto;
    text-align:center;
    color: white;
  }
  .border-green {
    position:absolute;
    top:30px;
    left:0;
    right:0;
    width:95%;
    height: 95vh;
    margin:auto;
    border: 8px solid #203D13;
  }
  .button {
    display:block;
    text-align:center;
    text-decoration:none;
    color: black;
    background-color: rgba(255,255,255,.6);
    padding: 12px 0;
    width:20%;
    margin:auto;
  }
  .button-set {
    display:flex;
    justify-content: space-around;
    position:absolute;
    bottom:90px;
    left:0;
    right:0;
    width:100%;
    margin:auto;
  }
  .home-page .button-set {
    bottom:90px;
    left:0;
    right:0;
  }
  .basil-page .button-set {
    bottom:60px;
    left:0;
    right:0;
  }