/* FONT
font-family: 'Lusitana', serif;
font-family: 'Montserrat', sans-serif;
*/

/* COLORS
CSS HEX
--black-olive: #25332dff;
--feldgrau: #5b6964ff;
--copper: #b28449ff;
--violet-jtc: #6c2b4dff;
--white: #ffffffff;

SCSS RGB 
black-olive: rgba(37, 51, 45, 1);
feldgrau: rgba(91, 105, 100, 1);
copper: rgba(178, 132, 73, 1);
violet-jtc: rgba(108, 43, 77, 1);
white: rgba(255, 255, 255, 1);
*/

*{
  box-sizing: border-box;
}

img{
width: 100%;
}

body {
  margin:0;
  background: #25332dff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.contentslick {
  position: flex;
  width: 90%;
  scale: 95%;
}

a {
color: 041d2;

}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  background-color: #B28449;
  display: flex;
  justify-content: space-between;
}

.navbar .logo{
  text-align: center;
  left: 100%;
  top: 4px;
}

.navigation .navicons{
  text-align: right;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar a{
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.links li, .icons li{
  list-style-type: none;
}

.links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.links li a:hover{
  background-color: #ffffff87;
  width: auto;
}

.links a:hover::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
}

.hero {
  width:100vw;
}

.tea-collection {
  display: flex;
  width:70%;
  margin:60px auto;
  justify-content: space-between;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.tea-collection div{
  flex:1;
}

.herb-bg {
background-image: url('spellbound-images/texture-rose.png');
background-repeat:no-repeat;
background-size:cover;
height:400px;
}
.rose {
background-image: url('spellbound-images/texture-rose.png');
}
.chamomile {
background-image: url('spellbound-images/texture-chamomile.png');
}
.lavendar {
background-image: url('spellbound-images/texture-lavender.png');
}
.jasmine {
background-image: url('spellbound-images/texture-jasmine.png');
}
.tea-collection h4{
color:white;
z-index: 1;
padding: 10px;
background: rgba(151, 69, 84, 1);
display:inline-block;
margin:40px 20px 20px 40px;
}
.lavendar .collection-text, .lavendar h4{
background: #6C7268;
}
.jasmine .collection-text, .jasmine h4{
background: #B28449;
}
.chamomile .collection-text, .chamomile h4{
background: #B28449;
}
.collection-text {
color:white;
z-index: 1;
padding: 10px;
background: rgba(151, 69, 84, 1);
margin:20px 20px 20px 40px;
display:flex;
flex-direction:column;
}
.more {
padding-top:50px;
color:#041D22;
display:inline-block;
align-self: flex-end; 
}
.band {
background-color:#6C2B4D;
width:100%;
height:330px;
margin-bottom:-450px;
margin-top:100px;
}
.footer{
  margin-top: 100px;
  padding: 50px;
  padding-inline: 120px;
  background: goldenrod;
  color: #efefef;
  display: flex;
}

.footer a, .boringstuff a, .boringstuff {
  color: white
}

.footer div{
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
}

.footer img {
  width: 32px;
}

.col-1 a{
  display: flex;
  text-decoration: none;
  color: #efefef;
}

.col-1 a img{
  margin-right: 5px;
}

.termcon{
  padding: 20px;
  text-decoration: none;
}

.copyr{
  display: flex;
  padding: 20px;
  text-align: right;
}

.boringstuff{
  display: flex;
  justify-content: space-between;
}

.aboutbox {
  background-image: url(spellbound-images/spellbound-pattern.png);
}

.about{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(90, 23, 37);
}

.about-textstyle{
  padding: 60px;
}

.about-textstyle h2{
  color: white;
  margin-bottom: 20px;
}

.about-textstyle p{
  color: white;
  margin-bottom: 25px;
}

button{
  background: orange;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px
}

button:hover{
  cursor: pointer;
}