*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
  width: 100%;
}

body {
    background: rgb(3, 46, 46);
    width: 100%;
    height:100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

a {
  color: 041d2;

}

.navigation{
    background-color:goldenrod;
}

.navigation > .container{
    max-width: 90%;
    margin: auto;
}

.navigation .navbar{
    position: relative;
}

.navigation .navbar .logo{
    position: absolute;
    left: 50%;
    top:4px;
}

.navigation .navbar .logo a{
    display: block;
}

.navigation .icons{
    text-align: right;
}

@media screen and (min-width:1024){
    .navigation .icons
    {display: block !important;
    height:auto !important;}
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .icons{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.links li, .icons li{
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.links li a:hover{
    background-color: #ffffff87;
    width: auto;
}

.links a:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
}

.hero {
    width:100vw;
  }

  .hero div {
    padding:0px;
  }

  .tea-collection {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }

  .tea-collection div{
    flex:1;
  }

  .herb-img {
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 25%;
  }

  .tea-collection h4{
    color:white;
    z-index: 1;
    padding: 10px;
    background: rgba(151, 69, 84, 0.6);
  }
  
  .collection-text {
    color:white;
    z-index: 1;
    padding: 10px;
    background: rgba(151, 69, 84, 0.6);
  }

  .footer{
    margin-top: 100px;
    padding: 50px;
    padding-inline: 120px;
    background: goldenrod;
    color: #efefef;
    display: flex;
  }

  footer a {
    color: white
  }

  .footer div{
    text-align: center;
  }

  .col-2{
    flex-grow: 2;
  }

  .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
  }

  .footer img {
    width: 32px;
  }

  .col-1 a{
    display: flex;
    text-decoration: none;
    color: #efefef;
  }

  .col-1 a img{
    margin-right: 5px;
  }

  .termcon{
    padding: 20px;
    text-decoration: none;
  }

  .copyr{
    display: flex;
    padding: 20px;
    text-align: right;
  }

  .boringstuff{
    display: flex;
    justify-content: space-between;
  }

  .aboutbox {
    background-image: url(spellbound-images/spellbound-pattern.png);
  }

  .about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(90, 23, 37);
  }

  .about-textstyle{
    padding: 60px;
  }

  .about-textstyle h2{
    color: white;
    margin-bottom: 20px;
  }

  .about-textstyle p{
    color: white;
    margin-bottom: 25px;
  }

  button{
    background: orange;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px
  }

  button:hover{
    cursor: pointer;
  }

