/* FONT
font-family: 'Lusitana', serif;
font-family: 'Meow Script', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* COLORS
CSS HEX
--black-olive: #25332dff;
--feldgrau: #5b6964ff;
--copper: #b28449ff;
--violet-jtc: #6c2b4dff;
--white: #ffffffff;

SCSS RGB 
black-olive: rgba(37, 51, 45, 1);
feldgrau: rgba(91, 105, 100, 1);
copper: rgba(178, 132, 73, 1);
violet-jtc: rgba(108, 43, 77, 1);
white: rgba(255, 255, 255, 1);
*/

*{
  box-sizing: border-box;
}

img{
width: 100%;
}

body {
  margin:0;
  background: #25332dff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#contentslick {
  position: flex;
  width: 90%;
  scale: 95%;
}
.slickimg{
  padding: 0px 15px;
}

.navbar{
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #b28449ff;
  text-align: center;
  align-items: center;
  }

.navlinks{
  gap: 2rem;
  color: #fff;
  font-size: 16px;
  font-family: 'Lusitana', serif;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: left;
}

.navlinks a{
  text-decoration: none;
  color: white;
}

.navlinks li a:hover{
  background-color: #ffffff87;
  width: auto;
}

.logo {
display: flex;
padding-inline: 25%;
align-items: center;
margin-left: 160px;
margin-right: 100px;
}

.navicons{
  display: flex;
  align-items: center;
  padding-inline: 10%;
  padding-left: 35%;
}


.hero {
  width:100vw;
}

.tea-set {
  display:flex;
  justify-content: space-around;
  margin: auto;
  padding: 10px 60px 60px;
}

.img-container {
width: 295px;
height: 265px;
position: relative;
margin: 200px auto;
}
.container {
width: 295px;
height: 265px;
}
.teabtn {
border-radius: 20px;
}
.img-title {
width: 295px;
color:white;
z-index: 1;
padding: 10px;
display:inline-block;
margin: 45px -60px;
padding: 25px 35px;
font-family: 'Meow Script', cursive;
font-size: 76px;
position: absolute;
}
.img-text {
width: 295px;
color:white;
z-index: 1;
padding: 10px;
display:inline-block;
margin: 130px 50px 50px 0px;
padding: 25px 35px;
font-family: 'Lusitana', serif;
position: absolute;
}
.boxoverlay {
width: 295px;
height: 135px;
border-radius: 0px 0px 20px 20px;
padding: 10px;
background: rgba(178, 132, 73, .85);
display:inline-block;
margin: 130px 50px 50px 0px;
position: absolute;
}

h1 {
  color:white;
  z-index: 1;
  font-family: 'Meow Script', cursive;
  font-weight: normal;
  font-size: 76px;
}
.abouth1 {
  color:white;
  line-height: 0px;
  z-index: 1;
  font-family: 'Meow Script', cursive;
  font-size: 76px;
  padding-top: 20px;
}
p {
  color:white;
  z-index: 1;
  font-family: 'Lusitana', serif;
}
.greencontainter {
    display: flex;
    background-color: #5b6964ff;
    width:90%;
    height:700px;
    margin-top: 0px;
    margin-bottom: 80px;
    align-items: center;
}
.greencontainter .abouttextcontainer {
  position: relative;
  background-color: #b28449ff;
  padding: 0px 150px 60px 60px;
  width: 60%;
  margin: 0px;
}
.aboutp {
  padding: 0px 0px 0px 50px;
  line-height: 25px;
}
.aboutphoto{
  position: absolute;
  z-index: 1;
  transform: scale(1.15);
  margin-left: 52.8%;
  margin-top: 5.5%;
  overflow: hidden;
}
.aboutpattern {
  position: absolute;
  transform: scale(2);
  margin-left: 66.8%;
  margin-top: 15.5%;
}
.abouticon {
  position: absolute;
  z-index: 1;
  transform: scale(.8);
  margin-left: 44%;
  margin-top: 37.5%;
}

.footer{
  padding: 30px;
  padding-inline: 150px;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;
}
h3 {
  font-family: 'Lusitana', serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
}
.footerp {
  font-family: 'Montserrat', sans-serif;
}
.footer img {
  width: 20px;
}
.col-1 a{
  display: flex;
  text-decoration: none;
  color: #efefef;
}
.col-1 a img{
  margin-right: 10px;
}
.col-2{
  flex-grow: 2;
}

.footer a, .boringstuff a, .boringstuff {
  color: white
}
.termcon{
  padding: 20px;
  text-decoration: none;
}
.copyr{
  display: flex;
  padding: 20px;
  text-align: right;
}
.boringstuff{
  display: flex;
  justify-content: space-between;
}

button{
  background: #6c2b4dff;
  color: white;
  font-family: 'Lusitana', serif;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 500px;
  font-weight: medium;
  padding: 10px 25px;
}
button:hover{
  cursor: pointer;
}
.shopbutton {
  margin-top: 20px;
  margin-left: 75%;
}
.submitbutton {
  padding: 5px 15px;
}